.avatar {
    /* -DIMENSIONAMENTO DA FOTO CONSIDERANDO AS BORDAS ADICIONADAS NO LAYOUT: */
    /* --Revertendo o Box-sizing: */
    /* box-sizing: initial; */
    /* width: 3rem; */
    /* height: 3rem; */
    /* --Calculando a diferença das bordas adicionadas: */
    width: calc(3rem + 12px);
    height: calc(3rem + 12px);
}

.avatarWithBorder {
    width: calc(3rem + 12px);
    height: calc(3rem + 12px); 
    border-radius: 8px;

    /* Adiciona borda conforme Figma */
    border: 4px solid var(--gray-800);
    outline: 2px solid var(--green-500);
}